@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


body, html, main {
    height: 100%;
}

.cd-color-2{
  //background-color:lightgreen;
}

.cd-color-3{
  //background-color:lightblue;
}
 
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
        margin-bottom: -10px;
        color:white;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/pedro-lastra-143326.jpg");
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../images/breakfast.jpeg");
  height: 100vh;
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../images/aj-garcia-253576.jpg");
}

.cd-fixed-bg.cd-bg-7 {
  background-image: url("../images/bed.jpeg");
  height: 100vh;
}
.cd-fixed-bg.cd-bg-9 {
  background-image: url("../images/stream.jpeg");
}

.cd-scrolling-bg {
	min-height: 100%;
  margin-bottom:-16px;
}